<app-headerclt></app-headerclt>
<app-carousel>
    <div carousel-view-0>
        <img class="d-block w-100" src="/assets/carouselwomens.jpg" alt="First slide">
    </div>
    <div carousel-view-1>
        <img class="d-block w-100" src="/assets/carouselmens.jpg" alt="Second slide">
    </div>
    <div carousel-view-2>
        <img class="d-block w-100" src="/assets/carouselkids.jpg" alt="Third slide">
    </div>
</app-carousel>
<app-banner></app-banner>
<app-homenouvlist></app-homenouvlist>
<app-footer></app-footer>

