<div class="centered-container">
  <div class="card">
    <div class="card-header">
      <h3>La liste des produits</h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Prix</th>
              <th scope="col">Marque</th>
              <th scope="col">Nom de produit</th>
              <th scope="col">Quantité</th>
              <th scope="col">Disponibilité</th>
              <th scope="col">Taille</th>
              <th scope="col">Couleur</th>
              <th scope="col">Actions</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of listproduits">
              <td>{{ p.prodref }}</td>
              <td>{{ p.prodPrix }}</td>
              <td>{{ p.prodMarque }}</td>
              <td>{{ p.prodDescription }}</td>
              <td>{{ p.prodQte }}</td>
              <td>{{ p.prodDispo }}</td>
              <td>{{ p.taille }}</td>
              <td>{{ p.couleur }}</td>
              
              <td class="action-buttons"><button class="btn btn-success" (click)="addImage(p.prodref)">Ajouter image</button></td>
              <td class="action-buttons"> <button class="btn btn-success" (click)="updateProduit(p.prodref)">Modifier Produit</button></td>
              <td class="action-buttons">  <button class="btn btn-danger" (click)="deleteProduit(p.prodref)">Supprimer Produit</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>