
  /* Style for the container */
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 170vh;
}

/* Style for the card */
.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 800px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

/* Style the card header */
.card-header {
  background-color: #ffa34e;
  color: #fff;
  padding: 15px;
  border-bottom: none;
}

/* Style the card title */
.card-header h3 {
  margin: 0;
  font-size: 24px;
}

/* Style the card body */
.card-body {
  padding: 20px;
}

/* Style for the card buttons */
.card-button {
  margin-top: 10px;
}

/* Style for the primary button */
.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Style for the secondary button */
.btn-secondary {
  background-color: #6c757d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #545b62;
}

/* Style the table */
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

/* Style the table headings */
.table th {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: left;
}

/* Style the table rows */
.table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.btn-primary {
  background-color: #ff6600;
  color: white;
  border: none;
}

.btn-primary:hover {
  background-color: #000000;
}

.btn-success {
  background-color: #ff6600;
  color: white;
  border: none;
}

.btn-success:hover {
  background-color: #000000;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
  border: none;
}

.btn-danger:hover {
  background-color: #000000;
}

.btn-warning {
  background-color: #000000;
  color: white;
  border: none;
}

.btn-warning:hover {
  background-color: #2c2928;
}