<app-header></app-header>
<div class="centered-container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3>Liste des catégories</h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Actions</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let Cat of categories">
                                <td>{{ Cat.catlib }}</td>
                                <td><button class="btn btn-primary" (click)="addProductToCategorie(Cat.catid)">Ajouter produit</button></td>
                                <td><button class="btn btn-success" (click)="updateCategorie(Cat.catid)">Modifier Catégorie</button></td>
                                <td><button class="btn btn-danger" (click)="deleteCategorie(Cat.catid)">Supprimer Catégorie</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="alert alert-warning" role="alert" *ngIf="Alert">
                    catégorie supprimé avec succès!
                </div>
                <div class="card-button text-center">
                    <button class="btn btn-warning" (click)="goToAddCategorie()" routerLink="/addcategorie">Ajouter Catégorie</button>
                </div>
            </div>
        </div>
    </div>
</div>