<div class="signup-container">
    <form class="form" (ngSubmit)="onSubmit()">
        <h1 style="text-align: center;">Ajouter un nouveau Produit</h1>
        <div class="mb-3">
            <label class="form-label">Prix</label>
            <input class="form-control" type="number" id="Prix" [(ngModel)]="produit.prodPrix" name="Prix">
        </div>

        <div class="mb-3">
            <label class="form-label">Marque</label>
            <input class="form-control" type="text" id="Marque" [(ngModel)]="produit.prodMarque" name="Marque">
        </div>

        <div class="mb-3">
            <label class="form-label">Nom de produit</label>
            <input class="form-control" type="text" id="description" [(ngModel)]="produit.prodDescription" name="description">
        </div>

        <div class="mb-3">
            <label class="form-label">Quantité</label>
            <input class="form-control" type="number" id="Quantité" [(ngModel)]="produit.prodQte" name="Quantité">
        </div>

        <div class="mb-3">
            <label class="form-label">taille</label>
            <input class="form-control" type="text" id="taille" [(ngModel)]="produit.taille" name="taille">
        </div>

        <div class="mb-3">
            <label class="form-label">couleur</label>
            <input class="form-control" type="text" id="couleur" [(ngModel)]="produit.couleur" name="couleur">
        </div>

        <div class="button-container">
            <button class="btn btn-primary" type="submit">Ajouter Produit</button>
        </div>

    </form>
</div>
