<section id="bonbanners">
    <ul class="row">
            <li class="col-xs-12 col-sm-4 col-md-4 ">
            <a>
                <img class="img-responsive" src="/assets/bannermens.webp" alt="Collection Homme">
                <div class="banner-inner">
                    <h4>Collection Été</h4>
                    <h3>Pour Hommes</h3>
                    <p>L'indispensable de la saison</p>
                    <p><span routerLink="/listproduitcategorie/2">Découvrir</span></p>
                </div>
            </a>
            </li>

           <li class="col-xs-12 col-sm-4 col-md-4 ">
            <a>
                <img class="img-responsive" src="/assets/bannerwomens.jpg" alt="Collection Femme">
                <div class="banner-inner">
                        <h4>Collection Été</h4>
                        <h3>Pour Femmes</h3>
                        <p>Redessiner votre style</p>
                        <p><span routerLink="/listproduitcategorie/1">Découvrir</span></p>
                 </div>
            </a>
            </li>

            <li class="col-xs-12 col-sm-4 col-md-4 ">
            <a>
                <img class="img-responsive" src="/assets/bannerkids.webp" alt="Collection Enfant">
                <div class="banner-inner">
                       <h4>Collection Été</h4>
                       <h3>Pour Enfants</h3>
                       <p>S'en donnent à cœur joie</p>
                       <p><span routerLink="/listproduitcategorie/4">Découvrir</span></p>
                </div>
            </a>
        </li>

            </ul>
</section>
