<nav class="navbar">
  <div class="brand"><img routerLink="/" src="assets/logoproj.png"></div>
  <ul class="nav-links">
    <li *ngFor="let category of categories">
      <a (click)="goToProduitcategorie(category.catid)">{{ category.catlib }}</a>
    </li>
    <li><a (click)="goToPanier(iduser)">Panier</a></li>
    <li><a (click)="goToLivraisons()">Voir livraisons</a></li>
    <li *ngIf="isConnected()"><a (click)="voirMonCompte()">Mon compte</a></li>
    <li *ngIf="isConnected()"><a (click)="logout()">Logout</a></li>
    <li *ngIf="!isConnected()"><a routerLink="/signin">Sign In</a></li>

  </ul>
</nav>
