

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #ffc107;
  }

  .brand img {
    max-width: 100px;
    max-height: 50px;
    border-radius: 50%; /* Rounded border for a stylish look */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
  }
