<nav class="navbar">
  <div class="brand"><img routerLink="/homeadmin" src="assets/logoproj.png"></div>
  <ul class="nav-links">
    <li><a routerLink="/homeadmin">Home</a></li>
    <li><a routerLink="/listcategorie">Gestion des Categories</a></li>
    <li><a routerLink="/listproduit">Gestion des Produits</a></li>
    <li><a routerLink="/listcommandeadmin">Gestion des Commandes</a></li>
    <li><a routerLink="/listusers">Gestion des utilisateurs</a></li>
  </ul>
  <ul class="nav-links" *ngIf="isConnected()">
    <li><a (click)="logout()">Logout</a></li>
  </ul>
</nav>