<div class="signup-container">
    <form class="form" (ngSubmit)="onSubmit()">
        <h1 style="text-align: center;">Modifier une catégorie</h1>
        <div class="mb-3">
            <label class="form-label">Nouveau nom du catégorie</label>
            <input class="form-control" type="text" id="FirstName" [(ngModel)]="categorie.catlib" name="FirstName">
        </div>

        <div class="button-container">
            <button class="btn btn-primary" type="submit">modifier</button>
        </div>

    </form>
</div>
