<footer class="footer">
    <div class="footer-content">
      <div class="brand"><img routerLink="/" src="assets/logoproj.png"></div>
      <div class="footer-links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/services">Services</a>
        <a href="/contact">Contact</a>
      </div>
    </div>
    <div class="footer-social">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
  </footer>
  