
<form class="container">
    <div *ngIf="panier" class="content">
      <div style="margin: 40px;" class="brand"><img src="assets/logoproj.png"></div>

      <div class="user-info">
        <h1>Commande Information</h1>
        <p><strong>nom:</strong> {{ user.unom }}</p>
        <p><strong>prenom:</strong> {{ user.uprenom }}</p>
        <p><strong>num de tel:</strong> {{ user.utel }}</p>
        <p><strong>email:</strong> {{ user.email }}</p>
        <p><strong>frais livraison:</strong> 7dt</p>
        <p><strong>delais livraison</strong> 48H</p>
        <p><strong>Montant total:</strong> {{panier.montantTot+7}}dt</p>
      </div>
  
      <button class="btn btn-success" (click)="confirmerLivraison()">Confirmer</button>
    </div>
  </form>
  