<div *ngFor="let prod of listproduits">
  <div class="cardBlog">
    <div class="card-body ">
    <div class="a">
     
     <img class="cards_img" src="assets/7.jpg" />
     
     <div>
        <h4 class="card_title">{{prod.prodDescription}}</h4>
        <p class="card_text">Prix : {{prod.prodPrix}}</p>
        
     </div>
     <div>
      <button class="btn btn-secondary" (click)="addProduitToCart(this.userId , prod.prodref , 1)" >add to cart</button>
     </div>
    </div>
  </div>
 </div>
</div>